*{
	margin: 0;
	font-size: 16px;
	text-decoration:none;
}
body{
	background-color:whitesmoke;
	background-image: url(../img/bjj.png);
}
ul{
	list-style: none;
}

#box{
	width: 100%;
	height: 100%;
	background-color: grey;
	position: absolute;
	filter: alpha(opacity=50);  
	opacity: 0.5;  
	z-index: 1;
	top: 0;
	left: 0;
	display: none;
}
#dl{
	position: absolute;
	z-index: 1;
	left: 35%;
	top: 20%;
	width: 390px;
	height: 420px;
	display: none;
}
#dl .input1{
	maxlength:60px;
	border: 2px solid #00BFFF;
	border-radius:10px;
	height: 30px;
}
#tdtemp{height: 163px;}
#dl3{
	 width: 275px; 
	 background-color: black; 
	 color: white;
	 border-color: #00BFFF;
}


	
#box1{
	width: 100%;
	height: 70px;
	background-color:green;
	color:whitesmoke;
	font-weight:800;
	position: fixed;
	top: 0;
	left: 0;
}
#img1{
	 height: 70px;
	 float: left;
	 margin-right: 100px;
}
#ul1{
	float: left;
}
#ul1 li{
		float: left;
		display: block;
		width: 55px;
		height: 30px;
/*		background-color: cornflowerblue;*/
		margin: 20px 20px;
		line-height: 30px;
		text-align: center;
}	
#ul1 li:hover{
	color: white;
}
#ul1 li a:link {color : white;}
#ul1 li a:visited {color : #00BFFF;}
#ul1 li a:hover {color: white;}
#ul1 li a:active {color : white;}
#sousuo1{
	height: 28px;
	border: 3px solid darkgray;
	border-radius:4px 0px 0px 4px;
	width: 300px;
	float: right;
	display: block;
	margin:20px auto 20px auto;
}
#sousuo2{
	height: 30px;
	width: 45px;
	border: 3px solid darkgray;
	border-radius:0px 4px 4px 0px;
    float: right;
    display: block;
    margin: 20px 40px 20px auto;
    background-color: darkgrey;
}
#denglu li{
	float: right;
	margin: 26px 0 26px 0;
}
#denglu #dl2{
	margin-right: 80px;
}

#box2{
	top: 50px;
	left: 410px;
}
.box2{
	display: none;
	width: 80px;
	height: 140px;
	background-color:green;
	color: white;
	position: absolute;
}
.ul2{
	padding: 0;
	background-color: green;
	border: solid black 1px;
	text-align: center;
	color:white;
}
.ul2 li{
	display: block;
	height: 30px;
	line-height: 30px;
}
.ul2 li:hover{
	background-color:green;
	color: white;
}
#box3{
	top: 50px;
	left: 505px;
}
#box4{
	top: 50px;
	left: 600px;
}
/*轮播*/
#wrap{
	width: 77%;
	height: 503px;
	background-color:whitesmoke;
	overflow: hidden;
	position: relative;
	margin:100px auto 40px auto;
	border: solid 5px goldenrod;
}
 .wrap ul{position:absolute;} 
 .wrap ul li{height:502px;margin: 0 auto;}
 .wrap ol{
 	list-style:none;
 	position:absolute;
	right:48%;
	bottom:10px;
}
 .wrap ol li{
 	height:20px; width: 20px;
	background:#ccc;
	border:solid 2px #666;
	border-radius: 10px;
	margin-left:5px;
	color:#000;
	float:left;
	line-height:center;
	text-align:center;
	cursor:pointer;
}
 .wrap ol .on{
 	background:#E97305;
 	color:#fff;
}
/**/
#lanmu{
	color: darkgray;
    /*margin: 0 auto;*/
}
#youxi{
	width: 77%;
	margin: 0 auto;
	/*background-color: #FFD700;*/
}
.yx{
	width: 150px;
	height: 170px;
	margin: auto 1%;
	/*float: left;*/
	display: inline-table;
	border: 3px solid #31374e;
	border-radius: 10px;
	background-color:greenyellow;
	padding: 20px;
}
.yx:hover{
	background-color: darkgray;
	border-color: red;
}
.yxtp{
	margin-top: 3px;
	width: 250px;
}
.yxz{
	color:darkgoldenrod;
}
.yxjg{ float: right; width: 160px;padding: 0;}
.yxjg li{
	float: right;
	display: block;
	line-height: 30px;
	text-align: center;
	border: 2px solid orangered;
	border-radius: 5px;
	height: 30px;
	margin: 2px;
}
.yxjg .yxsj{
	width: 80px;
	color: orangered;
}
.yxjg .yxsj:hover{
	background-color: orangered;
	color: white;
}
.yxjg .yxzk{
	width: 60px;
	background-color:gold;
	color: white;
	border-color: gray;
}

#end{
	width: 100%;
	height: 50px;
/*	position: fixed;*/
	bottom: 0;
	left: 0;
	background-color:yellowgreen;
}

#shopcar{
	width: 55px;
	height: 46px;
	position: fixed;
	top: 50%;
	right: 0;
	border: 3px solid green;
	border-radius: 3px;
	background-color: white;
}

